@media screen and (max-width: 640px) {
  .article-title {
    font-size: 18px;
    flex: wrap;
    max-width: 300px;
    min-width: 200px;
    width: 100% !important;
  }

  ::-webkit-scrollbar {
    display: none;
  }
  .project-description {
    min-width: 300px;
    max-width: 300px;
  }
  .navbar {
    display: none;
  }
  .dropdown-btn {
    display: flex;
    position: absolute;
    right: 10px;
    top: 40px;
    z-index: 23232323;
    background-color: white;
  }
  .dropdown-btn i {
    font-size: 30px;
    font-weight: 700;
  }
  .dropdown-nav{
    background-color: white;
    position: absolute;
    left: -320px !important;
    top: 30px;
    width: 400px;
    padding: 3rem 2rem;
    display: flex;
    height: 800px;
  }
  .dropdown-nav li {
    margin: 2rem 0;
    font-weight: normal;
    font-size: 17px;
  }
  .podcast-single-content {
    width: 400px !important;
    margin: 0 -10rem !important;
    transform: translateX(-150px) !important;
    position: absolute;
  }
  .podcast-info-header {
    flex-direction: column;
  }
  .channel-title {
    font-size: 20px;
    margin: 0;
  }
  .podcast-img {
    width: 70px;
    height: 70px;
  }
  .podcast-description {
    font-size: 16px;
    margin: 0;
    max-width: 350px;
    margin: 1rem 0;
  }
  .podcast-themes {
    margin: 0;
  }
  .podcast-single-play {
    margin: 3rem 0;
  }
  .podcast-date {
    font-size: 12px;
  }
  .podcast-title-play {
    font-size: 19px;
    max-width: 350px;
  }
  .podcast-play-description {
    font-size: 14px;
    max-width: 320px;
  }
  .podcast-playground {
    width: 320px;
    padding: 0 4rem;
    flex-direction: column;
  }
  .podcast-play-title {
    font-size: 16px;
    min-width: 300px;
    font-weight: normal;
  }
  .podcast-playground iframe {
    margin: 0.5rem 0;
  }
  .podcast-playground i {
    font-size: 40px;
  }
  .podcast-play-channel-title {
    font-size: 13px;
  }
  .podcast-content-single {
    max-width: 320px;
  }
}
